@model letterstocrushes.Models.RegisterModel

@{
    ViewBag.Title = "letters to crushes: sign up";
}

<div class="letterEnvelopeContainer">

<h2>sign up to bookmark letters</h2>
<p>
    your email address will never be displayed on the website or shared with anyone. 
</p>

@using (Html.BeginForm()) {
    <div>

            <div class="editor-label">
                email
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="editor-label">
                password
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password, "Please enter a password.")
            </div>

            <div class="editor-label">
                confirm password
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "Please enter your password again.")
            </div>

            <div class="editor-label">
            </div>
            <div class="editor-field">
                <input type="checkbox" id="acceptedTerms"  /> I have read and accept letters to crushes' <a href="~/terms" target="_blank">Terms of Use</a> and <a href="~/privacy" target="_blank">Privacy Policy</a>.
                <p>
                    @Html.ValidationMessageFor(m => m.AcceptedTerms)
                </p>
            </div>

            <p>
                <input type="submit" class="submit_button" value="sign up" />
            </p>

    </div>
}

</div>

