<div id="footer">


    <span id="footer_left"></span>

    <span id="footer_center">

        @{
            
            try
            {
                
                <text>
                    <a href="@Url.Content("~/about")">about</a>
                </text>

            
                                       
             
                @Html.Partial("_LogOnPartial")
                
                if (User.Identity.IsAuthenticated == true)
                {
                    if (User.IsInRole("Mod") == true)
                    {
                    @Html.ActionLink("queue", "queue", "Home")
                    @Html.ActionLink("popular", "popular", "Home")      
                    @Html.ActionLink("block", "Index", "Block")           
                    @Html.ActionLink("comments", "Index", "Comment")             
                    @Html.ActionLink("bookmarks", "Index", "Account") <br />              
                    @Html.ActionLink("mod letters", "ModLetters", "Home")                 
                    @Html.ActionLink("apps", "apps", "Home")                
                    @Html.ActionLink("search", "search", "Home")     
                    @Html.ActionLink("chat", "Index", "chat")           
                    @Html.ActionLink("feedback", "contact", "Home")                                                                 
                    }
                    else                    
                    {
                    <text>
                        <a href="@Url.Content("~/terms")" target="_blank">terms of use</a>
                        <a href="@Url.Content("~/privacy")" target="_blank">privacy policy</a>
                    </text>                        
                    @Html.ActionLink("chat", "Index", "chat")                                        
                    @Html.ActionLink("bookmarks", "Index", "Account")                                   
                    @Html.ActionLink("feedback", "contact", "Home")
                    @Html.ActionLink("apps", "apps", "Home")    
                    @Html.ActionLink("search", "search", "Home")    
            
                    }
                }
                else
                {
                                        
                <text>
                    <a href="@Url.Content("~/terms")" target="_blank">terms of use</a>
                    <a href="@Url.Content("~/privacy")" target="_blank">privacy policy</a>
                </text>
                                
                @Html.ActionLink("apps", "apps", "Home")            
                @Html.ActionLink("chat", "Index", "chat")                
                @Html.ActionLink("feedback", "contact", "Home")
                @Html.ActionLink("search", "search", "Home")

                }


            }
            catch (Exception ex)
            {
                //@Html.ActionLink("best", "best", "Home")                
                //@Html.ActionLink("feedback", "contact", "Home")
                //@Html.ActionLink("search", "search", "Home")                     
            }
                   
        }     

    </span>

    <span id="footer_right"></span>

    <div style="clear: both"></div>

    <center>
        <p style="padding-top: 25px">
            <a href="/book"><img src="~/Content/small-cover.jpg" alt="letters to crushes book cover" /></a> <br />
            <a href="/book">buy our book :)</a>
        </p>
    </center>

</div>
