<div id="footer">


    <span id="footer_left"></span>

    <span id="footer_center">

        @{
            
            try
            {
                
                @Html.Partial("_LogOnPartial")

                
                if (User.Identity.IsAuthenticated == true)
                {
                    if (User.IsInRole("Mod") == true)
                    {
                    @Html.ActionLink("queue", "queue", "Home")
                    @Html.ActionLink("popular", "popular", "Home")      
                    @Html.ActionLink("block", "Index", "Block")           
                    @Html.ActionLink("comments", "Index", "Comment")             
                    @Html.ActionLink("bookmarks", "Index", "Account") <br />              
                    @Html.ActionLink("mod letters", "ModLetters", "Home")                 
                    @Html.ActionLink("search", "search", "Home")     
                    @Html.ActionLink("chat", "Index", "chat")           
                    <text>
                    <a href="http://anonsong.com" target="_blank">anon song</a>
                    </text>              
                                                     
                    }
                    else
                    {
                    @Html.ActionLink("chat", "Index", "chat")                                        
                    @Html.ActionLink("bookmarks", "Index", "Account")                       
                    @Html.ActionLink("feedback", "contact", "Home")
                    @Html.ActionLink("search", "search", "Home")    
                    <text>
                    <a href="http://anonsong.com" target="_blank">anon song</a>
                    </text>                                        
                    }
                }
                else
                {
                @Html.ActionLink("chat", "Index", "Chat")                
                @Html.ActionLink("feedback", "contact", "Home")
                @Html.ActionLink("search", "search", "Home")
                <text>
                    <a href="http://anonsong.com" target="_blank">anon song</a>
                </text>     
                }


            }
            catch (Exception ex)
            {
                //@Html.ActionLink("best", "best", "Home")                
                //@Html.ActionLink("feedback", "contact", "Home")
                //@Html.ActionLink("search", "search", "Home")                     
            }
                   
        }     

    </span>

    <span id="footer_right"></span>

    <div style="clear: both"></div>

</div>
