@model letterstocrushes.Core.Model.Letter

<div class="letterEnvelopeContainer" id="c@(Model.letterLanguage)">

    <ul class="dateNav">
        <li>
            <a href="@Url.Content("~/mobile/letter/" + Model.Id.ToString())" data-ajax="false">@Model.letterPostDate.ToString("MMMM d, h:mmtt")</a>              
        </li>
    </ul>

    <ul class="letterNav">

        @Html.Partial("_LetterComments", Model)
        @Html.Partial("_LetterVote", Model)

        <li style="width: 50px">
            <a id='h@(Model.letterLanguage)' href='/#' onclick='$.post(this.href); return false;' class='hiderLink'>hide</a>        
        </li>


    </ul>
            
    <div class="letterContainer">

        @Html.Raw(Model.letterMessage)
                        
    </div>
      
</div>