<div id="footer">


    <span id="footer_left"></span>

    <span id="footer_center">

        @{
            
            try
            {
                
                @Html.Partial("_LogOnPartial")

                
                if (User.Identity.IsAuthenticated == true)
                {
                    if (User.IsInRole("Mod") == true)
                    {
                    <a href="@Url.Content("~/queue/")" data-ajax="false">queue</a>
                    <a href="@Url.Content("~/popular/")" data-ajax="false">popular</a>
                    <a href="@Url.Content("~/bookmarks/")" data-ajax="false">bookmarks</a>
                    <a href="@Url.Content("~/search/")" data-ajax="false">search</a>
                    <a href="@Url.Content("~/chat/")" data-ajax="false">chat</a>
                    <a href="@Url.Content("~/feedback/")" data-ajax="false">feedback</a>

                    }
                    else
                    {
                    <a href="@Url.Content("~/chat/")" data-ajax="false">chat</a>
                    <a href="@Url.Content("~/bookmarks/")" data-ajax="false">bookmarks</a>
                    <a href="@Url.Content("~/feedback/")" data-ajax="false">feedback</a>
                    <a href="@Url.Content("~/search/")" data-ajax="false">search</a>                                    
                    }
                }
                else
                {
                    <a href="@Url.Content("~/chat/")" data-ajax="false">chat</a>
                    <a href="@Url.Content("~/feedback/")" data-ajax="false">feedback</a>
                    <a href="@Url.Content("~/search/")" data-ajax="false">search</a>                                    
                    

                }


            }
            catch (Exception ex)
            {
                //@Html.ActionLink("best", "best", "Home")                
                //@Html.ActionLink("feedback", "contact", "Home")
                //@Html.ActionLink("search", "search", "Home")                     
            }
                   
        }     

    </span>

    <span id="footer_right"></span>

    <div style="clear: both"></div>

</div>
