@model IEnumerable<letterstocrushes.Core.Model.Letter>
@using letterstocrushes

@{
    ViewBag.Title = "letters to crushes: archive";
}
    
<div class="letterContainer" style="text-align: left">

    <form action="@Url.Content("~/archive")">
        <div>

            <ul>
                <li>
                    year <select name="year">

                    @for (int loop_year = ViewBag.CurrentYear; loop_year >= 2008; loop_year--)
                    {
                        
                        var year_selected = false;
                        if (loop_year == ViewBag.Year)
                        {
                            year_selected = true;
                        }
                        else
                        {
                            year_selected = false;
                        }
                            
                        <text><option value="@loop_year" selected="@year_selected">@loop_year</option></text>                        
                    }

                    </select> 

                </li>

                <li>
                    month
                    <select name="month">

                    @for (int loop_month = 1; loop_month <= 12; loop_month++)
                    {
                        
                        var month_selected = false;
                        if (loop_month == ViewBag.Month)
                        {
                            month_selected = true;
                        }
                        else
                        {
                            month_selected = false;
                        }
                                              
                        <text><option value="@loop_month" selected="@month_selected">@loop_month</option></text>                        
                    }


                    </select>  
                </li>

                <li>
                    day
                    <select name="day">
                    @for (int loop_day = 1; loop_day <= 31; loop_day++)
                    {
                        
                        var day_selected = false;
                        if (loop_day == ViewBag.Day)
                        {
                            day_selected = true;
                        }
                        else
                        {
                            day_selected = false;
                        }
                                              
                        <text><option value="@loop_day" selected="@day_selected">@loop_day</option></text>                        
                    }

                     </select>

                </li>

                <li>
                    search terms <input type="text" value="@ViewBag.Terms" name="terms" />
                </li>

            </ul>

            <input type="submit" value="search"/>                        
            @{  if (ViewBag.Results > 0) { <text><span style="font-size: 0.8em">@ViewBag.Results letters.</span></text> } }
            @{  if (ViewBag.NothingFound == true) { <text><span style="font-size: 0.8em">No letters from this date.</span></text> } }
        </div>

    </form>
        
    <br />

    @{
    
        if (ViewBag.NothingFound == false)
        {
            
            foreach (var item in Model) {
                Html.RenderPartial("_LetterMoreListItem", item);
            }

            @Html.Raw(Helpers.SearchPager(ViewBag.CurrentPage, ViewBag.Results, Url.Content("~/search"), ViewBag.Terms));
                
        }

    
    }

    
</div>

<div id="disqus_thread" class="letterComments" style="display: none"></div>

@section Footer {
    @Html.Partial("_Footer")
}

<script type="text/javascript" src="http://disqus.com/forums/crushes/embed.js"></script>
<script type="text/javascript">

    //<![CDATA[
    (function () {

        var links = document.getElementsByTagName('a');
        var query = '?';

        for (var i = 0; i < links.length; i++) {
            if (links[i].href.indexOf('#disqus_thread') >= 0) {
                query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
            }
        }
        document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/crushes/get_num_replies.js' + query + '"></' + 'script>');

    })();
    //]]>

</script>

@Html.Partial("_LetterVoteListener")

<script type="text/javascript" >

    $(document).ready(function() {

        var offset = new Date().getTimezoneOffset();
        $.cookie('userTimeZone', offset/60, { expires: 365 });

    });


</script>
