@model letterstocrushes.Core.Model.Letter

@{
    ViewBag.Title = "letters to crushes: edit your letter";
}

@section Header {

    <link rel="stylesheet" href="@Url.Content("~/Content/quill.snow.css")" />
    <script src="@Url.Content("~/Scripts/quill.min.js")"></script>

}

<div class="letterContainer" id="input">

    <div id="sendLetterCopy">
        <p>Edit your letter.
        </p>
    </div>

    <div id="errors" style="display: none">
        <p><b>there was an error (<span id="error_name"></span>).</b> something bad happened (<span id="error_message"></span>) and your letter was not sent. please send use a report using the @Html.ActionLink("contact page", "contact") if you see this again.</p>
    </div>

    <div id="letterMessage" style="border: 1px solid #eee;">
        @Html.Raw(Model.letterMessage)
    </div>
        
    <div id="toolbar" style="padding: 10px; border-left: 1px solid #eee; border-top: 1px solid #eee; border-right: 1px solid #eee;text-align: right">
        <button class="ql-bold"><strong>B</strong></button>
        <button class="ql-italic"><em>I</em></button>
        <button class="ql-strike"><span style="text-decoration: line-through">S</span></button>
        <button class="ql-underline">U</button>
        <button class="ql-list">List</button>
        <button class="ql-bullet">Bullet</button>
    </div>

		        	
	<br />
		    
	<input type="button" class="submit_button" value="edit" id="btnSend" /> <input type="button" id="btnCancel" class="submit_button" value="cancel" onclick="window.location.href='@Url.Content("~/letter/" + Model.Id)'" />

    <div class="letterPostScript">            
        <p>Please use initials or nicknames, it will be posted for others to see.</p>        
    </div>            

    <div id="disqus_thread" class="letterComments" style="display: none"></div>
    		
</div>

<div class="letterContainer" id="output" style="display: none;">

            <h2>your letter was edited.</h2>
            <ul>
                <li><span id="perm">here is it's permanent link</span></li>
            </ul> 

</div>
    
<script src="http://www.google.com/jsapi?key=ABQIAAAAldASRj6IH3Y9p1O31t-C9RQCeCEsZXDSZbVjp8UFZVicfsCyEBQ2EQnGirJm-6SOzGyiESqsoOB2eA" type="text/javascript"></script>

<script type="text/javascript">
   
    // Initialize Quill editor

    //var editor = new Quill('#letterMessage', {
    //    modules: {
    //        'toolbar': { container: '#toolbar' },
    //    },
    //    theme: 'snow'
    //});

    // test: 
    //     invalid_elements : "background-color,img,a,font-family,border,font-family,margin,background-image",

    var editor = new Quill('#letterMessage');
    editor.addModule('toolbar', {
        container: '#toolbar'     // Selector for toolbar container
    });

    editor.focus();

</script>

<script type="text/javascript">

    $(document).ready(function() {

        $("#btnSend").click(function() {

            $("#btnSend").fadeOut('fast');
            $("#btnCancel").fadeOut('fast');
            $("#errors").hide();

            try {

                var c;                                
                if(google.loader.ClientLocation) { c = google.loader.ClientLocation.address.country_code.toUpperCase(); }
                else { c = "UNKNOWN"; }
                
                var m = editor.getHTML();

                m = m.replace(/<div>/g, "<p>");
                m = m.replace(/<\/div>/g, "</p>");

                //if (m == '') { $("#btnSend").fadeIn('fast'); return; };
                
                var sendArgs = 'letterText=' + escape(m) + '&id=@Model.Id';

                var linkid;
                
                $.ajax(
                {
                    type: "post",
                    url: "@Url.Content("~/Home/EditLetter")",
                    data: sendArgs,
                    dataType: "json",
                    processData: false,
                    success: function(result)
                    {                        

                        if (result.response == '1') {
                            //$.cookie(result.guid, 0, { expires: 365 });
                            //$("#perm").html("<a href=\'@Url.Content("~/")" + result.message + "'>here is a permanent link</a>");
                            //$("#input").fadeOut('fast');
                            //$("#output").fadeIn('fast');
                            window.location = '@Url.Content("~/letter/" + Model.Id)';
                            }
                        else {

                            // this line works when it's before the $.ajax call, but doesn't work in here...
                            //throw {name : 'server error', message : 'got bored, i suck at coding'};                        
                            // todo: implement custom errors so they are handled in the below catch(err)
                            // todo: become a better programmer, you worthless sob
                            $("#error_name").html('error on server');
                            $("#error_message").html(result.message);
                            $("#errors").fadeIn('fast');
                            $("#btnSend").fadeIn('fast');
                            $("btnCancel").fadeIn('fast');
                            
                        }
                                            
                    },                
                    error : function(req, status, error)
                    {

                        // this is shit code... why do i need an error handler here as well?
                        // how can i fire an error to get this code to run in the first place?
                        alert('here in json error handler: ' + error.description);
                        throw {
                            name: 'delivery error',
                            message: error.description};
                    }

                });

            }
            catch (err) {

                //alert('an error happened!!!!');

                $("#error_name").html(err.name);
                $("#error_message").html(err.message);
                $("#errors").fadeIn('fast');
                $("#btnSend").fadeIn('fast');
                $("btnCancel").fadeIn('fast');
                
            }

        });

    });

</script>
