@model IEnumerable<letterstocrushes.Core.Model.Letter>
@using letterstocrushes;

@{
    ViewBag.Title = "letters to crushes: mod letters";
}

@section Header {

    <link rel="stylesheet" href="@Url.Content("~/Content/quill.snow.css")" />
    <script src="@Url.Content("~/Scripts/quill.min.js")"></script>

}


<div class="letterContainer" id="input" style="border-bottom: 1px dotted #eee">

    <div id="sendLetterCopy">
    	<input type="button" class="submit_button" value="send" id="btnSend" style="float: right" />
        <p>Send a mod letter. For mod-eyes only.
        </p>


    </div>

    <div id="errors" style="display: none">
        <p><b>there was an error (<span id="error_name"></span>).</b> something bad happened (<span id="error_message"></span>) and your letter was not sent. please send use a report using the @Html.ActionLink("feedback page", "Contact") if you see this again.</p>
    </div>
        
    <div id="letterMessage" style="border: 1px solid #eee;">
        <p></p>
    </div>

    <div id="toolbar">
        <button class="ql-bold"><strong>B</strong></button>
        <button class="ql-italic"><em>I</em></button>
        <button class="ql-strike"><span style="text-decoration: line-through">S</span></button>
        <button class="ql-underline">U</button>
        <button class="ql-list">List</button>
        <button class="ql-bullet">Bullet</button>
    </div>
		        	
	<br />
		    
    		
</div>



@foreach (var item in Model) {

    Html.RenderPartial("_LetterMoreListItem", item);    

}

@Html.Raw(Helpers.Pager(ViewBag.CurrentPage, ViewBag.Pages, Url.Content("~/mod/")))


<!-- begin add mod letter tinymce stuff -->

   
    <script type="text/javascript">
   
        var editor = new Quill('#letterMessage');
        editor.addModule('toolbar', {
            container: '#toolbar'     // Selector for toolbar container
        });


    </script>

@section Footer {
    @Html.Partial("_Footer")
}

@Html.Partial("_LetterVoteListener")

<script type="text/javascript" >

    $(document).ready(function() {

        var offset = new Date().getTimezoneOffset();
        $.cookie('userTimeZone', offset/60, { expires: 365 });

	    jQuery(document).bind('keydown', 'left',function (evt){previous_page(); return false; });
	    jQuery(document).bind('keydown', 'right',function (rght){next_page(); return false; });

	    var current_page = @ViewBag.CurrentPage;

	    function previous_page() {
		    var previous_page = current_page - 1;
		    if (previous_page > 0) {
			    window.location = "/mod/page/" + previous_page;
		    }
	    }

	    function next_page() {
		    var next_page = current_page + 1;
		    window.location = "/mod/page/" + next_page;
	    }

    });


</script>


<script type="text/javascript">

    var letter_id = 0;

    $(document).ready(function () {

        $("#btnSend").click(function() {

            $("#btnSend").hide();
            $("#errors").hide();

            try {
                                
                var m = editor.getHTML();
                if (m == '') { $("#btnSend").fadeIn('fast'); return; };
                
                var sendArgs = 'letterText=' + escape(m) + '&letterCountry=UNKNOWN&mobile=-10';

                var linkid;

                $.ajax(
                {
                    type: "post",
                    url: "@Url.Content("~/Home/Mail")",
                    data: sendArgs,
                    dataType: "json",
                    processData: false,
                    success: function(result)
                    {                                
                        // but what happens if it returns a fail from the server here?
                        if (result.response == '1') {
                            $.cookie(result.guid, 0, { expires: 365 });

                            // sends a tracking call to Optimizely for the given event name. 
                            // event name does not need to be 'pre-registered' 
                            //window.optimizely.push(['trackEvent', 'sent_letter']);

                            letter_id = result.message;

                            // reload the page
                            window.location = "@Url.Content("~/mod/")";


                        } else {
                            display_errors({ name: 'server error', message: result.message });                            
                        }
                                            
                    },                
                    error : function(req, status, error)
                    {

                        // this is shit code... why do i need an error handler here as well?
                        // how can i fire an error to get this code to run in the first place?

                        throw {
                            name: 'delivery error',
                            message: error};
                    }

                });


            }
            catch (err) {
                display_errors(err);                
            }

        });


        function display_errors(err) {

            alert('an error occurred: ' + err.name + ", " + err.message);
            $("#btnSend").fadeIn('fast');
        }

    });

</script>