@{
    ViewBag.Title = "change password";
}

<div class="letterEnvelopeContainer">

    @using (Html.BeginForm())
    {
            switch ((int)ViewBag.Stage)
            {
                case 1:
                    
                    <h2>lost password</h2>

                    <div class="editor-label">

                        <p>
                            please enter your email address.                        
                        </p>
                        
                        <p>
                            we will send you an email with a link that allows
                            you to safely reset your password so you can log in again.                
                        </p>

                    </div>
                    <div class="editor-field">
                        @Html.TextBox("email")
                    </div>
                    
                    <p>
                        <input type="submit" value="send password link" class="submit_button" />
                    </p>
            
                   break;
                   
                case 2:

                    <h2>password reset link sent to @ViewBag.Email</h2>
    
                    <p>please check your email.</p>
                
                   break;
                   
                case 3:

                    <h2>change password for @ViewBag.Email</h2>

                    <div class="editor-field">
                        @Html.ValidationSummary(true, "")
                    </div>

                    <div class="editor-label">
                        password
                    </div>
                    <div class="editor-field">
                        @Html.Password("pass")
                    </div>
                    
                    <p>
                        @Html.Hidden("id", (string)ViewBag.id)
                        @Html.Hidden("what", 3)
                        <input type="submit" value="change password" class="submit_button" />
                    </p>
    
                    break;   

                case 4:

                    break;               
                case 5:

                    <h2>@ViewBag.ErrorTitle</h2>
                
                    <p>@ViewBag.ErrorMessage</p>
                    break; 
            }
        
    }




</div>
