@{
    ViewBag.Title = "letters to crushes - privacy policy";
}

<div class="letterContainer">
    <h2><span style="color: #F59696">privacy policy 1-minute summary</span></h2>

    <p>
        <b>You don't have to provide personal information to use the <span style="color: #F59696">letters to crushes</span> Site.</b>
    </p>

    <ul>
        <li>Read the <span style="color: #F59696">letters to crushes</span> Site, post a letter
            to your crush, comment on a posted letter to a crush, or like a posted letter without
            registering an account.
        </li>
        <li>
            Register a chat room alias without assoicating the alias to any personal information.
        </li>
    </ul>

    <p>
        <b>We strive to make <span style="color: #F59696">letters to crushes</span> better by understanding
            how you use the <span style="color: #F59696">letters to crushes</span> Site. So, we collect some 
            information when you:
        </b>
    </p>

    <ul>
        <li>Make public contributions to the <span style="color: #F59696">letters to crushes</span> Site.</li>
        <li>Use the <span style="color: #F59696">letters to crushes</span> Site.</li>
        <li>Register an account.</li>
        <li>Send us <a href="@Url.Content("~/feedback")">feedback</a>.</li>
    </ul>

    <p>
        <b>We believe in:</b>
    </p>

    <ul>
        <li>Helping you understand how your information may be used or shared in this Privacy Policy.</li>
        <li>Keeping your data secure using reasonable measures.</li>
        <li>Never selling your data or sharing it with third parties for marketing reasons.</li>
        <li>Only sharing your data when required to for legal reasons, to protect you, us, or others,
            or to improve the <span style="color: #F59696">letters to crushes</span> Site.
        </li>
    </ul>
       
    <p>
        <b>Areas of concern:</b>
    </p>

    <ul>
        <li>Any content you add to the <span style="color: #F59696">letters to crushes</span> Site
            will be publicly and permanently available.
        </li>
        <li>This Privacy Policy does not apply to third-party actions and sites, such as anonsongs.com.</li>
    </ul>

    <p>        
        <b style="color: #F59696">
            <img src="@Url.Content("~/content/apple-touch-icon-precomposed.png")" alt="" style="float: left" />
            Disclaimer: This short summary is not a legal document and should not be treated as a part of the
            <a href="@Url.Content("~/privacy")">Privacy Policy</a>. It is meant to be used as a quick overview of the Privacy Policy.
        </b>
    </p>

    <hr />

    <h2><span style="color: #F59696">letters to crushes</span> privacy policy</h2>
    <span style="font-size: 10px">effective: 11/1/2013</span>

    <p><span style="color: #F59696">letters to crushes</span> is committed to respecting the privacy rights
        of the visitors, contributors, and other users of the <span style="color: #F59696">letters to crushes</span>
        Site. Reading this Privacy Policy is important. This Privacy Policy explains how 
        <span style="color: #F59696">letters to crushes</span> collects, uses, and shares information we receive
        from you through your use of the <span style="color: #F59696">letters to crushes</span> Site. By using
        the <span style="color: #F59696">letters to crushes</span> Site, you consent to the collection, transfer,
        processing, storage, disclosure, and use of your information as described in this Privacy Policy.
    </p>

    <p>
        Creating an account or contributing content to the <span style="color: #F59696">letters to crushes</span>
        Site is entirely optional and is not required in order to use the <span style="color: #F59696">letters to crushes</span>
        Site. You do not have to provide your real name or email address to send your crush a letter or make a 
        comment on a posted letter. We do not sell or rent your nonpublic information, nor do we use it to sell
        you any kind of third-party products or services. We use this information to make the <span style="color: #F59696">letters to crushes</span>
        Site better for you.
    </p>

    <p>
        After all, it's people like you who allow <span style="color: #F59696">letters to crushes</span> to thrive.
    </p>

    <p>
        We want everyone (not just legal eagles) to be able to understand how the information they provide in
        connection with <span style="color: #F59696">letters to crushes</span> is used. So, we use common
        language instead of legalese. Here's a table of translations:
    </p>

    <table>
        <thead>
            <tr>
                <td>how we say it...</td>
                <td>what we mean</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 200px">
                    <ul>
                        <li>"<span style="color: #F59696">letters to crushes</span>"</li>
                        <li>"us"</li>
                        <li>"our"</li>
                        <li>"we,"</li>
                    </ul>

                </td>
                <td>
                    Seth Hayward, the sole proprietor, who operates the <span style="color: #F59696">letters to crushes</span> Site,
                         as well as any entities controlled, managed, or operated by Seth Hayward for the purpose of supporting the <span style="color: #F59696">letters to crushes</span> Site
                         and all applications.
                </td>

            </tr>

            <tr>
                <td>
                    "the <span style="color: #F59696">letters to crushes</span> Site"
                </td>
                <td>
                    The <span style="color: #F59696">letters to crushes</span> website, www.letterstocrushes.com,
                    and services, including emails and the associated chat room, but excluding the sites and services
                    listed in the "<b>what this privacy policy doesn't cover</b>" section below.
                </td>
            </tr>

            <tr>
                <td>
                    <ul>
                        <li>"you"</li>
                        <li>"your"</li>
                    </ul>
                </td>
                <td>
                    You! Regardless of whether you are an individual, organization, or group we mean
                    you. This also applies regardless of whether you are using the <span style="color: #F59696">letters to crushes</span>
                    site on behalf of yourself or someone else.
                </td>
            </tr>

            <tr>
                <td>"this Privacy Policy"</td>
                <td>
                    This document, which you are currently reading, entitled "<span style="color: #F59696">letters to crushes</span> privacy
                    policy".
                </td>
            </tr>

            <tr>
                <td>"contributions"</td>
                <td>Content, such as a letter to your crush, a comment, or a "like", which you add to the
                    <span style="color: #F59696">letters to crushes</span> Site.
                </td>
            </tr>

            <tr>
                <td>"personal information"</td>
                <td>Information we collect about you that could be used to personally identify you.</td>
            </tr>

            <tr>
                <td>
                    <ul>
                        <li>"third party"</li>
                        <li>"third parties"</li>
                        <li>"third-party providers"</li>
                        <li>"third-party service providers"</li>
                    </ul>
                </td>
                <td>Individuals or entities that are not managed, operated, or controlled by 
                    <span style="color: #F59696">letters to crushes</span>. This includes employees, directors, officers,
                    and contractors of those entities, as well as other <span style="color: #F59696">letters to crushes</span> users.
                </td>
            </tr>

        </tbody>
    </table>

    <h2>what this privacy policy covers</h2>
    <p>This Privacy Policy only applies to the <span style="color: #F59696">letters to crushes</span> Site. 
        Specifically, this Privacy Policy covers:
    </p>

    <ul>
        <li>The <span style="color: #F59696">letters to crushes</span> Site, including the chat room.</li>
        <li>Emails and notifications sent from us or sent to us from you.</li>
        <li>Our use of cookies.</li>
    </ul>

    <h2>what this privacy policy doesn't cover</h2>
    <p>Because this PRivacy Policy only applies to the Site, we want to be sure that you understand
        what it does not cover:
    </p>

    <ul>
        <li>Third-party service providers, which we use to provide the <span style="color: #F59696">letters to crushes</span>
            Site and improve your experience on the <span style="color: #F59696">letters to crushes</span> Site, 
            may collect information automatically sent by your browser or through cookies set by the third-party
            providers. Please refer directly to these third-party providers' privacy policies to
            understand their privacy practices.
        </li>
        <li>Links to other websites, such as anonsong.com, even if access through the <span style="color: #F59696">letters to crushes</span>
            Site
        </li>
        <li>The use of cookies by third parties. We do not control when or how third parties place cookies on your
            computer.
        </li>
        <li>
            The actions of third parties, meaning individuals or groups that we do not employ or control,
            including other <span style="color: #F59696">letters to crushes</span> users.
        </li>
    </ul>

    <h2>information collection and use practices</h2>
    <hr />

    <h3>your public contributions</h3>
    <p>
        <span style="color: #F59696">letters to crushes</span> is primarily created to help you
        share your feelings with the world. We share your contributions to the <span style="color: #F59696">letters to crushes</span>
        Site because you have asked us to do so. While we will, upon request, remove information from the site, which you have 
        previously posted, this may not remove the information you make available through the <span style="color: #F59696">letters to crushes</span>
        Site entirely from the Internet. The information you choose to post publicly is disseminated to a wide, global audience
        instantaneously. Your public letters and comments, including any personal information disclosed within them, may be
        searchable in search engines. When you share information via the Site, you should think carefully about what
        you are making public. We have no control over how content you publicly post to the Site is used and you
        should exercise caution when deciding to disclose your personal in formation. <span style="color: #F59696">letters to crushes</span>
        encourages you to use ficitious names or initials, rather than actual names, in your letters.
    </p>

    <p>        
        <b style="color: #F59696">
            <img src="@Url.Content("~/content/apple-touch-icon-precomposed.png")" alt="" style="float: left" />            
            please do not share any information that you are uncomfortable making permanently public.
        </b>
    </p>

    <h3>
        account information
    </h3>

    <p>
        Want to create an account? Super! Don't want to register an account? Ok, no problem! You are not
        required to create an account to read or contribute to the <span style="color: #F59696">letters to crushes</span>
        Site.
    </p>

    <p>If you want to register an account, we require you to make up a password and submit an email address.
        Your password is only used to verify that the account is yours and your email address is only used
        to identify your account and allow you to bookmark your favorite letters. Except as provided in this
        Privacy Policy, your email address is kept confidential. We do not rent, sell, or use it to advertise
        third-party products or services to you.
    </p>

    <p>If you want to create an account to use the chat room, we do not require you to
        submit any personal information to do so. Just make up a chat alias. Your chat alias will be
        publicly visible, so think before you use your real name as your chat alias. Chat aliases are only
        maintained during the chat session. You may adopt a different alias every time you chat. 
    </p>

    <h3>adding comments to letters</h3>

    <p>Neither your real name nor an email address is required to comment on a posted letter. Should you choose
        to include your email address, we only intend to use it to send you notifications when additional comments
        are made for the same letter. 
    </p>

    <h3>feedback</h3>

    <p>If you email us, we may keep your message, email address, and any information you provide so that 
        we can response to and process your request. (Sidenote: if you choose to give us feedback on ways 
        to make the <span style="color: #F59696">letters to crushes</span> Site better, thank you and we 
        think you're rad!)
    </p>

    <h3>automatically collected data</h3>
    <p>We automatically receive record information from your web browser when you interact with the
        <span style="color: #F59696">letters to crushes</span> Site, including your IP address and
        cookie information. This information facilitates collecting data concerning your interaction with
        the <span style="color: #F59696">letters to crushes</span> Site. 
    </p>

    <h3>metadata</h3>
    <p>Metadata is data about data. Sometimes we automatically receive location data
        about your device. We may also receive the timestamp for instances when you interact with the
        <span style="color: #F59696">letters to crushes</span> Site, such as the date and time of
        when a comment is posted, or other types of metadata.
    </p>

    <h3>cookies</h3>
    <p>A <a href="http://en.wikipedia.org/wiki/HTTP_cookie" target="_blank">cookie</a> is a small data file that is transferred to
        your computer's hard disk. <span style="color: #F59696">letters to crushes</span> may use
        cookie technology to:
    </p>

    <ul>
        <li>understand how you interact with the <span style="color: #F59696">letters to crushes</span> Site;</li>
        <li>customzie and improve your experience with the <span style="color: #F59696">letters to crushes</span> Site;</li>
        <li>to conduct research about your use of the <span style="color: #F59696">letters to crushes</span> Site; and</li>
        <li>to help offer you services that may be of interest, such as editing or hiding from
            public view information that you post to the <span style="color: #F59696">letters to crushes</span> Site.
        </li>
    </ul>

    <p>Most internet browsers automatically accept cookies. If you do not wish to have cookies placed on your computer, 
        you can disable them through your web browser. Rejecting all browser cookies will disable some of the features
        the <span style="color: #F59696">letters to crushes</span> Site offers.
    </p>

    <h2>sharing and disclosure</h2>
    <hr />

    <h3>to protect you, us, and others</h3>
    <p><span style="color: #F59696">letters to crushes</span> reserves the right to access, read, preserve,
        and disclose information as it reasonably believes necessary to:
    </p>

    <ul>
        <li>satisfy any applicable law, regulation, legal process, or governmental request;</li>
        <li>detect, prevent, or otherwise address fraud, security, or technical issues;</li>
        <li>respond to user support requests;</li>
        <li>protect our rights, property, or safety, or protect our users and the public.</li>
    </ul>

    <h3>due to business transfer</h3>
    <p>In the event <span style="color: #F59696">letters to crushes</span> is acquired by, merged with or into,
        or substantially sells all of its assets to a third-party entity, we reserve the right to transfer or
        assign the information we have collected from your use of the <span style="color: #F59696">letters to crushes</span>
        Site as part of such acquisition, merger, or sale.
    </p>

    <h3>service providers</h3>
    <p>
        We may provide personal information to third-parties, such as Google Analytics and HostGator, that provide
        services to help us with our business activities. These third-party service providers may collect data
        transmitted by your browser, such as cookies or your <a href="http://en.wikipedia.org/wiki/IP_address" target="_blank">IP address</a>. <span style="color: #F59696">letters to crushes</span>
        and its third party-service providers may use information collected through the <span style="color: #F59696">letters to crushes</span>
        Site to:
    </p>

    <ul>
        <li>improve the content on the <span style="color: #F59696">letters to crushes</span> Site;</li>
        <li>customzie the content of the <span style="color: #F59696">letters to crushes</span> Site to our users;</li>
        <li>provide new products or services, and</li>
        <li>respond to any request you may have regarding the <span style="color: #F59696">letters to crushes</span> Site.</li>
    </ul>

    <p>        
        <b style="color: #F59696">
            <img src="@Url.Content("~/content/apple-touch-icon-precomposed.png")" alt="" style="float: left" />            
            we use the information we collect from you as content, to offer new products and services, and to measure
            and improve our products and services over time.
        </b>
    </p>

    <h3>because you wanted it to be public</h3>
    <p>
        <span style="color: #F59696">letters to crushes</span> may disclose your non-private, aggregated or otherwise
        non-personal information, such as your publicly posted comments or letter to your crush.
    </p>

    <h2>your choices about your information</h2>
    <hr />

    <ul>
        <li>You are not required to provide <span style="color: #F59696">letters to crushes</span> any information
            to access the <span style="color: #F59696">letters to crushes</span> Site, therby limiting the type of
            information we collect.
        </li>
        <li>
            You can always opt not to disclose certain information to us, even though it may be needed to take
            advantage 
        </li>
        <li>
            <span style="color: #F59696">letters to crushes</span> encourages you to use a fictious name or initials,
            in place of a person's real name when making contributions to the <span style="color: #F59696">letters to crushes</span> Site.
        </li>
    </ul>

    <h2>access and modification</h2>
    <hr />

    <ul>
        <li>You can edit any information you post to the <span style="color: #F59696">letters to crushes</span> Site or hide
            it from public view.
        </li>
        <li>
            You can access and delete cookies through your web browser settings.
        </li>
    </ul>

    <h2>children</h2>
    <hr />

    <p><span style="color: #F59696">letters to crushes</span> is not directed to persons under the age of thirteen (13).
        If you believe that your child has provided us with personal information without your consent, please contact
        us at <a href="mailto:letters.to.crushes@gmail.com">letters.to.crushes@gmail.com</a>. <span style="color: #F59696">letters to crushes</span>
        does not knowingly collect personal information from children under thirteen (13) years of age. Upon learning
        that a child under thirteen (13) years of age has provided us with personal information, we take steps to remove
        their information.
    </p>

    <h2>security & retention</h2>
    <hr />

    <h3>how do we secure your data?</h3>
    <p><span style="color: #F59696">letters to crushes</span> has established safeguards to help prevent unauthorized
        access to or misuse of the private information you share with us, but we cannot guarantee that your information
        will never be disclosed in a manner inconsistent with this Privacy Policy. Unauthorized entry or use, hardware
        or software failure, and other factors, may compromise the security of user information at any time. Please
        contact us if you have any questions about the security on the <span style="color: #F59696">letters to crushes</span> Site.
    </p>

    <h3>how long do we keep your data?</h3>
    <p>Non-personal data and data that you publicly disclose on the <span style="color: #F59696">letters to crushes</span> Site
        may be kept indefinitely. Publicly disclosed data may also be displayed indefinitely. Personal information 
        kept as long as needed for maintenance, understanding and improvement of the <span style="color: #F59696">letters to crushes</span>
        Site, and our obligations under applicable U.S. law.
    </p>

    <h2>important information</h2>
    <hr />

    <h3>about us</h3>
    <p>The <span style="color: #F59696">letters to crushes</span> Site, uses servers and datacenters located in the
        United States. By using the <span style="color: #F59696">letters to crushes</span> Site, you consent to the
        collection, transfer, disclosure, processing, storage, and other uses of your information in the United States
        and as described in this Privacy Policy, whether you access the <span style="color: #F59696">letters to crushes</span>
        Site from inside or outisde of the United States. 
    </p>

    <p>        
        <b style="color: #F59696">
            <img src="@Url.Content("~/content/apple-touch-icon-precomposed.png")" alt="" style="float: left" />            
            if you do not agree with this Privacy Policy, you may not use the letters to crushes Site.
        </b>
    </p>

    <h3>do not track</h3>
    <p>"Do Not Track" or "DNT" is a way for your web browser to communicate to a website that you do not
        want your online interactions to be tracked by third parties whose websites you did not directly
        visit, such as advertising networks, social plateforms, and analytics services. You can learn more
        about DNT <a href="http://www.donottrack.us" target="_blank">here</a>.
    </p>

    <p>We are strongly committed to protecting your privacy. We do not disclose the personal information
        we collect from you with advertising networks or social plateforms, and will not otherwise share 
        the information we collect from you, except as described in this Privacy Policy. Because of this
        commitment, we find responding to the Do Not Track signal unncessary and do not do so.
    </p>

    <h3>contact us</h3>
    <p>Thoughts or questions about this Privacy Policy? Please, get in touch with us at <a href="mailto:letters.to.crushes@gmail.com">letters.to.crushes@gmail.com</a>.</p>

    <h3>updates & changes</h3>
    <p>We reserve the right to revise this Privacy Policy at any time. The most current version of the policy will
        govern our use of your information and will always be found here: <a href="http://letterstocrushes.com/privacy" target="_blank">http://letterstocrushes.com/privacy</a>.
        If we make a change to this Privacy Policy that, in our sole discretion, is deemed material, we will 
        attempt to notify you by a prominent display on our homepage for a minimum of thirty (30) calendar days,
        and where necessary we will seek the prior consent of our users. If you continue to use the
        <span style="color: #F59696">letters to crushes</span> Site after the noticed changes become effective,
        you agree to be bound by the Privacy Policy.
    </p>

    <h3>thank you!</h3>
    <p>Thank you for reading the Privacy Policy. We hope you enjoy the <span style="color: #F59696">letters to crushes</span>
        Site and will continue to participate in its creation and improvement.
    </p>
</div> 

