@{
    ViewBag.Title = "letters to crushes - terms of use";
}

<div class="letterContainer">
    <h2><span style="color: #F59696">letters to crushes</span> terms of use</h2>
    <span style="font-size: 10px">effective: 11/1/2013</span>
    <p>We welcome you as a reader or contributor of the <span style="color: #F59696">letters to crushes</span> Site,
        and we encourage you to participate in our community. Before you take part, 
        however, we ask that you please read and agree to the following Terms of Use.</p>
    <p>
        We want everyone (not just attorneys) to understand the following Terms of Use
        and agree to it before engaging in the letters to crushes online community. 
        So, we use common language instead of legalese. Here’s a table of translations:

    </p>

    <table>
        <thead>
            <tr>
                <td>how we say it...</td>
                <td>what we mean</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 200px">
                    <ul>
                        <li>"letters to crushes"</li>
                        <li>"us"</li>
                        <li>"our"</li>
                        <li>"we,"</li>
                    </ul>
                </td>
                <td>
                    Seth Hayward, the sole proprietor, who operates the <span style="color: #F59696">letters to crushes</span> Site,
                         as well as any entities controlled, managed, or operated by Seth Hayward for the purpose of supporting the <span style="color: #F59696">letters to crushes</span> Site
                         and all applications.
                </td>
            </tr>

            <tr>
                <td>
                    "the <span style="color: #F59696">letters to crushes</span> Site"
                </td>
                <td>The <span style="color: #F59696">letters to crushes</span> website, www.letterstocrushes.com, and
                    services, including applications, emails, and the associated chat room.
                </td>
            </tr>

            <tr>
                <td>
                    <ul>
                        <li>"you"</li>
                        <li>"your"</li>
                    </ul>
                </td>
                <td>
                    You! Regardless of whether you are an individual, organization, or group
                    we mean you. This also applies whether you are using the <span style="color: #F59696">letters to crushes</span> site
                    on behalf of yourself or someone else.
                </td>
            </tr>

            <tr>
                <td>"Terms of Use"</td>
                <td>This document, which you are currently reading entitled "<span style="color: #F59696">letters to crushes</span> terms of use".</td>
            </tr>

            <tr>
                <td>"contributions"</td>
                <td>Content, such as a letter to your crush, a comment, or a "like", which you add to the <span style="color: #F59696">letters to crushes</span> Site.</td>
            </tr>

            <tr>
                <td>"personal information"</td>
                <td>Information we collection about you that could be used to personally identify you.</td>
            </tr>

            <tr>
                <td>
                    <ul>
                        <li>"third party"</li>
                        <li>"third parties"</li>
                        <li>"third-party providers"</li>
                        <li>"third-party service providers"</li>
                    </ul>
                </td>
                <td>Individuals or entities that are not managed, operated, or controlled by 
                    <span style="color: #F59696">letters to crushes</span>. This includes employees, directors, officers,
                    and contractors of those entities, as well as other <span style="color: #F59696">letters to crushes</span> users.
                </td>
            </tr>
        </tbody>
    </table>

    <h2>1. our services</h2>
    <p><span style="color: #F59696">letters to crushes</span> hosts letters our users post to their crushes. We only act 
        as a hosting service, which means we maintain the infrastructure that allows you to post your thoughts and feelings
        as contributions to the <span style="color: #F59696">letters to crushes</span> Site. Regarding our relationship
        to you and the other users of the <span style="color: #F59696">letters to crushes</span> Site, please keep the following
        in mind:
    </p>
        <ul>
            <li><b>Your actions are your own.</b> You are legally responsible for the contributions you make. While, we hope and
                intend for the contributions made to the <span style="color: #F59696">letters to crushes</span> to be harmless,
                we cannot offer any protection, immunity, guarantee, or indemnification from legal authorities, including legal
                authorities outside of the United States. So, please be aware of the local laws where you live, edit or
                view content on the <span style="color: #F59696">letters to crushes</span> Site. For your own protection, please
                avoid contributing:
                <ul>
                    <li>content to the <span style="color: #F59696">letters to crushes</span> Site that would result in civil
                        or criminal liability under any applicable laws; and
                    </li>
                    <li>Personal information, such as your current location, your home address, or the home address of others.</li>
                </ul>
            </li>
            <li><b>We are not editors.</b> Users like yourself submit all of the content that we host on the <span style="color: #F59696">letters to crushes</span>
                Site. In general, we do not edit or monitor the content that is submitted, nor are we responsible for the content
                of the contributions to the <span style="color: #F59696">letters to crushes</span> Site. We simply provide an avenue
                for you to access letters and other content your fellow users have contributed without endorsing any opinions
                expressed within the posted content or representing or guaranteeing the accuracy, truthfulness, ore reliability
                of any contributions to the <span style="color: #F59696">letters to crushes</span> Site.
            </li>
        </ul>

    <p>        
        <b style="color: #F59696">
            <img src="@Url.Content("~/content/apple-touch-icon-precomposed.png")" alt="" style="float: left" />            
            We are not responsible for the consequences of posting or sharing any information, including personal information,
            on the letters to crushes Site.
        </b>
    </p>

    <h2>2. content we host</h2>

    <p>
        <b>Our content is for entertainment purposes only.</b> Nothing posted on the <span style="color: #F59696">letters to crushes</span>
        should be taken as professional advice. Before you act on any information, advice, or opinion offered through the
        <span style="color: #F59696">letters to crushes</span> Site, please seek independent, professional counseling from someone qualified
        in the applicable area.
    </p>
    <p>
        <b>You may find some content offensive or objectionable.</b> Please use common sense and proper judgment when using the 
        <span style="color: #F59696">letters to crushes</span> Site.
    </p>

    <h2>3. privacy policy</h2>

    <p>Please review our <a href="@Url.Content("~/privacy")">Privacy Policy</a>, so that you understand how we collect and
        use your information. People all over the world use our services. As a result, personal information we collect may be stored and processed in the United States of America
        or any other location in which we or our agents maintain facilities. Your use of the <span style="color: #F59696">letters to crushes</span> Site constitutes your consent to 
        any such transfer of information outside your country.
    </p>

    <h2>4. passwords</h2>

    <p>
        Your password is your responsibility. Never disclose it to any third party.
    </p>

    <h2>5. inappropriate activities</h2>

    <p>
        <span style="color: #F59696">letters to crushes</span> exists because of people like you, who contribute, read, and comment
        on the content. We want you to participate in the online community. We also want to protect you and everyone else who uses
        the <span style="color: #F59696">letters to crushes</span> Site. So, we hope that you'll be courteous in your interactions
        with other community members.
    </p>

    <p>Certain harmful activities, regardless of their legality, violate our rules and some activities may also subject you to civil
        or criminal liability. For your own protection, as well as the protection of other users of the <span style="color: #F59696">letters to crushes</span>
        Site, you may not enter into these activities on our site.
    </p>

    <ul>
        <li><b>Bullying, Harassing, or Abusing Others</b>
            <ul>
                <li>Harassment, stalking, spamming, vandalism, or making threats is not permitted on the <span style="color: #F59696">letters to crushes</span>
                    Site.
                </li>
            </ul>
        </li>

        <li><b>Impersonation or Fraud</b>
            <ul>
                <li><span style="color: #F59696">letters to crushes</span> encourages you to substitute real names with
                    initials or pseudonyms when using the <span style="color: #F59696">letters to crushes</span> Site.
                    However, we explicitly do not allow the following:

                    <ul>
                        <li>impersonation of another individual or user, or using the alias of another user with the
                            intent to deceive; and
                        </li>
                        <li>
                            posting content that is libelous or defamatory.
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

        <li><b>Violating Other People's Privacy </b>
            <ul>
                <li>The health and well-being of all of our users is important, but especially in relation
                    to minors under the age of eighteen (18). Solicitation of personally identifiable information
                    from anyone under the age of eighteen (18) for an illegal purpose or violating any applicable laws
                    regarding minor users of the <span style="color: #F59696">letters to crushes</span> is prohibited.
                </li>
                <li>Solicitation of personally identifiable information for the purpose of
                    violating the privacy of others, harassment, exploitation, or any promotional
                    or commercial purpose is explicitly not permitted by <span style="color: #F59696">letters to crushes</span>.
                </li>
                <li>
                    <span style="color: #F59696">letters to crushes</span> expressly prohibits infringement of the privacy
                    rights of others, both in accordance with the laws of the United States, as well as the laws of any other applicable jurisdiction.
                    Please be aware of the local laws where you live or where you view or submit content.
                </li>
            </ul>
        </li>

        <li><b>Infringing Proprietary Rights</b>
            <ul>
                <li>Copyright, patent, trademark, or other infringement of proprietary rights under applicable law is prohibited.</li>
            </ul>
        </li>

        <li><b>Use for Other Illegal Purposes</b>
            <ul>
                <li>The following activities are prohibited on the <span style="color: #F59696">letters to crushes</span> Site:
                    <ul>
                        <li>contributing content or exhibiting behavior in the <span style="color: #F59696">letters to crushes</span> chat room
                            that violates applicable law concerning child pornography;
                        </li>
                        <li>
                            posting or trafficking in obscene material that is unlawful under applicable law; and
                        </li>
                        <li>
                            using the <span style="color: #F59696">letters to crushes</span> Site in a manner that conflicts with applicable law.
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        
        <li>            
            <b>Disrupting the <span style="color: #F59696">letters to crushes</span> Site or interfering with another party's enjoyment of the
            <span style="color: #F59696">letters to crushes</span> Site
            </b>

            <ul>
                <li>Uploading, transmitting, or otherwise making available through the <span style="color: #F59696">letters to crushes</span>
                    Site content that contains software viruses or any other computer files, programs, or code designed to limit, destroy, or
                    interrupt the functionality of any computer software, hardware, or telecommunications equipment is strictly 
                    prohibited.
                </li>
                <li>Using the <span style="color: #F59696">letters to crushes</span> Site in any manner that could overburden,
                    damage, impair, or disable any <span style="color: #F59696">letters to crushes</span> server, or network(s) connections or
                    interfere with another user's enjoyment and use of the <span style="color: #F59696">letters to crushes</span> Site is not allowed.
                </li>
                <li>
                    Gaining unauthorized access to any <span style="color: #F59696">letters to crushes</span> Site content, accounts, network(s), or
                    computer systems through password mining, hacking, scraping, or by any other means to obtain any materials or information not intentionally
                    made available on the <span style="color: #F59696">letters to crushes</span> Site.
                </li>
            </ul>

        </li>
    </ul>

    <p><span style="color: #F59696">letters to crushes</span> reserves the right at all times, but does not have
        an obligation, to remove or refuse to distribute any contributions on the <span style="color: #F59696">letters to crushes</span>
        Site, and to suspend or terminate users. We also reserve the right to read, access, preserve, and disclose any 
        information as we reasonably believe is necessary to:
    </p>

    <ul>
        <li>satisfy applicable law, regulation, legal process, or governmental request;</li>
        <li>enforce these Terms of Use, including investigations of potential violations hereof;</li>
        <li>detect, prevent, or otherwise address fraud, security or technical issues;</li>
        <li>response to user support requests; and</li>
        <li>protect the rights, property or safety of <span style="color: #F59696">letters to crushes</span>, its users, and the public.</li>
    </ul>

    <h2>6. Your Rights</h2>

    <p>Except as otherwise provided in these Terms of Use, you retain your rights to any
        contributions you post or submit on or through the <span style="color: #F59696">letters to crushes</span>
        Site. However, by posting or submitting your contributions on or through the <span style="color: #F59696">letters to crushes</span>
        Site, you grant us, and our assigns, agents, and licensees, a worldwide, non-exclusive, royalty-free, perpetual license to use,
        copy, reproduce, process, adapt, modify, publish, transmit, display, promote, syndicate, create derivative works, distribute, and
        redistribute such contributions in any and all media or distribution methods now known or later developed. All rights title and
        interests in any collective work or other derivative work, or compilation created by us using or incorporating your contributions, (but not your
        original contribution) shall be owned by us. Such additional use by <span style="color: #F59696">letters to crushes</span>, or other
        organizations, companies, or individuals who partner with <span style="color: #F59696">letters to crushes</span>, may be made
        with no compensation paid to you with respect to the contributions that you submit, post, or otherwise make available through the
        <span style="color: #F59696">letters to crushes</span> Site.
    </p>
    
    <h2>7. <span style="color: #F59696">letters to crushes</span>' Rights</h2>

    <p>All right, title, and interest in and to the <span style="color: #F59696">letters to crushes</span> Site, excluding contributions
        made by users to the <span style="color: #F59696">letters to crushes</span> Site, are and will remain the exclusive property of <span style="color: #F59696">letters to crushes</span>
        and its licensors. The <span style="color: #F59696">letters to crushes</span> Site is protected by copyright, trademark, and other laws of both
        foreign countries and the United States. Any comments, suggestions, or feedback you submit regarding <span style="color: #F59696">letters to crushes</span>, or the
         <span style="color: #F59696">letters to crushes</span> Site is completely voluntary and <span style="color: #F59696">letters to crushes</span> may use
        such feedback, suggestions, or comments at our own discretion, and without obligation to you. Nothing in these Terms of Use grants
        you a right to use the <span style="color: #F59696">letters to crushes</span> name or any of the <span style="color: #F59696">letters to crushes</span> logos,
        domain names, or other distinctive brand indicators.
    </p>

    <p>        
        <b style="color: #F59696">
            <img src="@Url.Content("~/content/apple-touch-icon-precomposed.png")" alt="" style="float: left" />  
            By using the letters to crushes Site, you represent and warrant that you have all the rights, power, and authority necessary to grant
            the rights granted herein to any contributions that you make available on or through the letters to crushes Site. 
            </b>
    </p>

    <h2>8. Software License</h2>
    <p>
        <span style="color: #F59696">letters to crushes</span> gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license
        to use the software that is provided to you by <span style="color: #F59696">letters to crushes</span> as part of the  <span style="color: #F59696">letters to crushes</span> Site.
        The only purpose of this license is to enable you to use and enjoy the  <span style="color: #F59696">letters to crushes</span> Site as provided by
        <span style="color: #F59696">letters to crushes</span>, in the manner authorized by these Terms of Use.
    </p>

    <h2>9. DMCA Compliance</h2>
    <p>
         <span style="color: #F59696">letters to crushes</span> reserves the right to remove, without prior notice, at our sole discretion
        and without liability to you, content alleged to be infringing a copyrighted work. If you are the owner of content that you believe
        is being improperly used on the  <span style="color: #F59696">letters to crushes</span> Site without your permission, please provide
        us with the following information:

    </p>

    <ul>
        <li>
            a description of the material alleged to be infringed along with your signature as the copyright owner,
            or a signed representation that you are authorized to act on behalf of the copyright owners;
        </li>
        <li>
            a description of the material that is alleged to be infringing and that is to be removed, including enough
            detail to locate the allegedly infringing work;
        </li>
        <li>
            your accurate contact information, including legal name, address, telephone number, and email address;
        </li>
        <li>
            a statement by you illustrating your good-faith belief that the use of the disputed material is not authorized
            by the copyright owner, its agent, or the law; and
        </li>
        <li>
            a statement signed under penalty of perjury that you are either the copyright owner or the agent authorized
            to act on behalf of the copyright owner and that the information in the notification is accurate.
        </li>
    </ul>

    <p>If you have registered an account with the <span style="color: #F59696">letters to crushes</span> Site and are determined
        to be a repeat infringer, <span style="color: #F59696">letters to crushes</span> will terminate your account.
    </p>

    <p>
        The required notification information should be directed to our designated agent at the address below:
    </p>

    <p>
        Seth Hayward<br />
        3364 Cottonfield Dr<br />
        Mount Pleasant, SC 29466<br />
        email: letters.to.crushes@gmail.com
    </p>

    <h2>10. Disclaimers and Limitations of Liability</h2>

    <p>
        Each of the subsections below only applies up to the maximum extent permitted under applicable law. Some jurisdictions do not
        allow the disclaimer of implied warranties or the limitation of liability in contracts, and as a result the contents of this 
        section may not apply to you. Nothing in this section is intended to limit any rights you may have which may not be lawfully
        limited.
    </p>

    <ul>
        <li>
            <b>The <span style="color: #F59696">letters to crushes</span> is offered "AS-IS".</b> Access to and use of the
             <span style="color: #F59696">letters to crushes</span> Site or any contributions offered on or through the 
             <span style="color: #F59696">letters to crushes</span> Site is done at your own risk. We supply the <span style="color: #F59696">letters to crushes</span>
            Site on an "AS IS" and "AS AVAILABLE" basis "WITH ALL FAULTS". Without limiting the foregoing, to the maximum extent permitted under applicable law,
            <span style="color: #F59696">letters to crushes</span> DISCLAIMS ALL WARRANTIES AND CONDITIONS, WHETHER EXPRESS OR IMPLIED, OF MERCHANTABILITY,
            FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. <span style="color: #F59696">letters to crushes</span> makes no warrant and disclaims
            all responsibility and liability for:

            <ul>
                <li>the completeness, accuracy, availability, timeliness, security ore reliability of the <span style="color: #F59696">letters to crushes</span>
                    Site or any contributions;
                </li>
                <li>any harm to your computer system, loss of data, or other harm that results from y our access to or use of the <span style="color: #F59696">letters to crushes</span>
                    Site or any contributions made on or through the <span style="color: #F59696">letters to crushes</span> Site;
                </li>
                <li>the deletion of, or the failure to store or to transmit, any contributions or other communications maintained by the <span style="color: #F59696">letters to crushes</span>
                    Site; and
                </li>
                <li>whether the <span style="color: #F59696">letters to crushes</span> Site will meet your requirements or be available on an uninterrupted, secure, or error-free basis. No
                    advice or information, whether oral or written, obtained from <span style="color: #F59696">letters to crushes</span> or through the <span style="color: #F59696">letters to crushes</span> Site,
                    will create any warranty not expressly made herein.
                </li>
            </ul>
        </li>

        <li>
            <b>We are not liable for third-party sites or links.</b> You accept sole responsibility for and assume all risk arising from your use of any third-party website or resources. Although
            the <span style="color: #F59696">letters to crushes</span> Site contains links to third-party websites and resources, we do not endorse and are not responsible or liable for their:

            <ul>
                <li>availability or accuracy; or</li>
                <li>related content, products, or services (including, without limitation, any viruses or other disabling features), nor do we have any obligation to monitor such third-party content.</li>
            </ul>
        </li>

        <li>
            <span style="color: #F59696">letters to crushes</span> WILL NOT BE LIABLE TO YOU OR TO ANY OTHER PARTY FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING
            BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA, OR OTHER INTANGIBLE LOSSES. THE LIMITATIONS OF THIS SUBSECTION SHALL APPLY TO ANY THEORY OF LIABILITY, WHETHER BASED ON WARRANTY,
            CONTRACT, STATUE, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, AND WHETHER OR NOT THE <span style="color: #F59696">letters to crushes</span> SITE HAS BEEN INFORMED OF THE POSSIBILITY OF ANY SUCH DAMAGE,
            AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE. IN NO EVENT SHALL OUR LIABILITY EXCEED ONE HUNDRED U.S. DOLLARS (U.S. $100.00) IN AGGREGATE. IN THE CASE THAT
            APPLICABLE LAW MAY NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY OR INCIDENTAL OR CONSEQUENTIAL DAMAGES, THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU, ALTHOUGH OUR LIABILITY WILL BE
            LIMITED TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW.
        </li>
    </ul>

    <h2>11. General Legal Terms </h2>
    <p>The failure of <span style="color: #F59696">letters to crushes</span> to enforce any right or provision of these Terms of Use will not be deemed a waiver of such right or provision. In the event that any
        provision of these Terms is held to be invalid or unenforceable, then that provision will be limited or eliminated to the minimum extent necessary, and the remaining provisions of these Terms of Use will
        remain in full force and effect.
    </p>
    <p>
        These Terms of Use and any action related thereto will be governed by the laws of the State of California without regard to or application of its conflict of law provisions or your state or country of 
        residence. All claims, legal proceedings or litigation arising in connection with the <span style="color: #F59696">letters to crushes</span> Site will be brought solely in the federal or state courts
        located in San Francisco County, California, United States, and you consent to the jurisdiction of and venue in such courts and waive any objection as to inconvenient forum.
    </p>
    <p>If you are a federal, state, or local government entity in the United States using the Services in your official capacity and legally unable to accept the controlling law, jurisdiction or venue clauses above,
        then those clauses do not apply to you. For such U.S. federal government entities, these Terms and any action related thereto will be governed by the laws of the United States of America (without reference
        to conflict of laws) and, in the absence of federal law and to the extent permitted under federal law, the laws of the State of California (excluding choice of law).
    </p>
    <p>
        These Terms of Use and our <a href="@Url.Content("~/privacy")">Privacy Policy</a> are the entire and exclusive agreement between <span style="color: #F59696">letters to crushes</span> and you regarding the
        <span style="color: #F59696">letters to crushes</span> Site, and these Terms of Use supersede and replace any prior agreements between <span style="color: #F59696">letters to crushes</span> and you
        regarding the <span style="color: #F59696">letters to crushes</span> Site. We may revise these Terms of Use from time to time, the most current version will always be at <a href="http://letterstocrushes.com/terms" target="_blank">letterstocrushes.com/terms</a>.
        If the revision, in our sole discretion, is material we will attempt to notify you by a prominent display on our homepage for a minimum of thirty (30) calendar days, and where necessary we will seek
        the prior consent of our users. By continuing to access and use the <span style="color: #F59696">letters to crushes</span> Site after those revisions become effective, you agree to be bound by the
        revised Terms of Use.
    </p>

    <p>If you have any questions about these Terms of Use, please contact us at <a href="mailto:letters.to.crushes@gmail.com">letters.to.crushes@gmail.com</a>.</p>

    <h2>12. Thank you!</h2>

    <p>
        We appreciate your taking the time to read these Terms of Use, and we are very happy to have you accessing, using, and contributing to the <span style="color: #F59696">letters to crushes</span> Site.
        Your contributions allow the <span style="color: #F59696">letters to crushes</span> community to thrive and we appreciate your involvement with the <span style="color: #F59696">letters to crushes</span> Site.
    </p>
</div>


@section Footer {
    @Html.Partial("_Footer")
}