@model letterstocrushes.Core.Model.Letter
@using letterstocrushes;
@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";        
    ViewBag.Title = "letters to crushes: #" + Model.Id.ToString();
}


<div class="letterEnvelopeContainer">

    <ul class="dateNav">
    <li>
        <a href="@Url.Content("~/mobile/letter/" + Model.Id)">@(Model.letterPostDate.ToString("MMMM d, yyyy h:mmtt"))</a>    
    </li>
</ul>

<ul class="letterNav">

    @Html.Partial("_LetterVote", Model)
    
</ul>

<div class="letterContainer">
    @Html.Raw(Model.letterMessage)
</div>

@if (Convert.ToBoolean(ViewBag.display_pretty_box) == true) {
    <div class="pretty_box">

        <span id="pretty_box_left"></span>

        <span id="pretty_box_center">
            @if (Convert.ToBoolean(ViewBag.can_edit) == true)
            {
                @Html.ActionLink("edit letter", "edit", new {id = Model.Id})

                if (Model.letterLevel == -1)
                {
                    <a href="@Url.Content("~/unhide/" + Model.Id + "/1")" data-ajax="false">unhide</a>
                }
                else
                {
                    <a href="@Url.Content("~/hide/" + Model.Id + "/1")" data-ajax="false">hide</a>
                }
                
            }
            @if (User.IsInRole("Mod") == true)
            {
                @Html.ActionLink("queue", "AddToQueue", new {id = Model.Id})
            }
            @if (User.Identity.IsAuthenticated == true)
            {   
                <span id="bookmark"><a id='bm@(Model.Id)' href='/#' onclick='$.post(this.href); return false;' class='bookmarkLink'>bookmark</a></span>
            }

        </span>

        <span id="pretty_box_right"></span>

        <div style="clear: both"></div>

        @if (User.IsInRole("Mod") == true)
        {
            <p style="text-align: center; clear: both">Posted by @Model.senderIP</p>
        }


    </div>    
}

@if (Model.Id < 471085) {

<div id="disqus_thread" class="letterCommentsOld">

</div>
                
}
else
{

<div class="letterComments" data-role="none">

    <h6>@letterstocrushes.Helpers.CommentTitle(ViewBag.comments.Count) <a href="#add">add comment</a></h6>

    @foreach (@letterstocrushes.Core.Model.Comment item in ViewBag.comments) {
        Html.RenderPartial("_Comment", item);            
    }

    <div class="letterCommentsForm well well-small">

        @using (Html.BeginForm("Details", "Home", FormMethod.Post,new Dictionary<string, object> { 
                                { "id", "add_comment_form" },
                                { "class", "form-vertical" },
                                { "data-ajax", "false" }
                        }))
        {
            <fieldset>
                <legend>add comment</legend>

                <div class="control-group">
                    @Html.Label("commenterName", "Name:", new { @class="control-label" })
                    <div class="controls">
                        @Html.TextBox("commenterName", "", new Dictionary<string, object> { 
                                { "data-role", "none" } 
                        })
                    </div>
                </div>

                <div class="control-group">
                    @Html.Label("commenterEmail", "Email:", new { @class="control-label" })
                    <div class="controls">
                        @Html.TextBox("commenterEmail", (string)ViewBag.email, new Dictionary<string, object> { 
                                { "data-role", "none" } 
                        })

                        <span class="help-block">
                            Email is optional and never shown. Leave yours if you want email notifications on new comments for this letter.
                        </span>

                    </div>
                </div>
                
                <div class="control-group">
                    @Html.Label("comment", "Comment:", new { @class="control-label" })
                    <div class="controls">
                        @Html.TextArea("comment", "", new Dictionary<string, object> { 
                                { "data-role", "none" } 
                        })
                    </div>
                </div>

                <div class="comment_row">
                    <span class="comment_form">
                        @Html.Hidden("letterId", Model.Id)
                        @Html.Hidden("mobile", "1")
                        <button type="button" id="add_comment" class="btn btn-primary" data-role="none">Send</button>
                    </span>
                </div>

            </fieldset>
                
        }

    </div>

</div>
        
}


</div>
    
@Html.Partial("_LetterVoteListener")

<script type="text/javascript" >

    $(document).ready(function() {

        var offset = new Date().getTimezoneOffset();
        $.cookie('userTimeZone', offset/60, { expires: 365 });

        $('div.container').on('swiperight', swiperightHandler);

        function swiperightHandler() {
            event.stopImmediatePropagation();
            $.mobile.back();
        }

        $("#add_comment").on("click", function () {
            $("#add_comment_form").submit();
        });

        $("a.bookmarkLink").click(function(e) {

            resp = $(this).attr("id").substring(2);

            $.getJSON("@Url.Content("~/Bookmark/")" + resp, null, function(result) {

                if (result.Code == '1') {
                    $("#bookmark").html("bookmarked!");
                }
                else {
                    alert('An error occurred. Please report this problem using the "contact" page. (Message: ' + result.Message + ')');
                }

            });

        });

    });

</script>

