@model letterstocrushes.Models.RegisterModel

@{
    ViewBag.Title = "sign up";
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";    
    
}

<div class="letterContainer">

    <form action="@Url.Content("~/mobile/signup")" method="post" class="form-vertical" data-role="none" data-ajax="false">
        <fieldset>
            <legend>sign up to bookmark letters</legend>
            <p>your email address will never be displayed on the website or shared with anyone.</p>


            <div class="control-group">

                <label class="control-label" for="inputEmail">email</label>
                <div class="controls">
                    <input data-val="true" id="UserName" name="UserName" type="text" value="" placeholder="email" data-role="none">
                    @Html.ValidationMessageFor(m => m.UserName, "Email is required.", new { @class = "control-group error" })
                </div>

            </div>

            <div class="control-group">
                <label class="control-label" for="inputPassword">password</label>
                <div class="controls">
                    <input data-val="true" id="Password" name="Password" type="password" placeholder="password" data-role="none">
                    @Html.ValidationMessageFor(m => m.Password, "Password required.", new { @class = "control-group error" })
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputPassword">confirm password</label>
                <div class="controls">
                    <input data-val="true" id="ConfirmPassword" name="ConfirmPassword" type="password" placeholder="confirm password" data-role="none">
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "Confirm password required.", new { @class = "control-group error" })
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary" data-role="none">sign up</button>
                </div>
            </div>


            <div class="control-group">
                <input type="hidden" value="1" id="mobile" />

                <div class="editor-field">
                    @Html.ValidationSummary(true, "")
                </div>
            </div>

        </fieldset>
    </form>

</div>

